.container {
	max-width: 970px !important;
	margin-top: 40px !important;
}

.genreSelect{
	margin: 2px;
}

.selectedGenre{
	margin: 2px;
}

.control{
	background: none repeat scroll 0% 0% rgb(240, 244, 244);;
	border-radius: 6px 6px 6px 6px;
	padding: 15px 15px 15px ;
	opacity: 0.9;
}

.result{
	background: none repeat scroll 0% 0% rgb(240, 244, 244);;
	border-radius: 6px 6px 6px 6px;
	padding: 15px 15px 15px ;	
	opacity: 0.9;
}